MAX_WAIT: 0.0
MIN_WAIT: 0.0
N_WORKERS: 10
STORE_PATH: ~/.datasets/images
THUMBS: True
THUMBS_SIZES:
  big: [200, 200]
TIMEOUT: 5.0
USER_AGENT: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:55.0) Gecko/20100101 Firefox/55.0