imgdl:
  MAX_WAIT: 0.0
  MIN_WAIT: 0.0
  N_WORKERS: 50
  PROXIES:
    - http://proxy.provider.com:4015
    - http://proxy.provider.com:4016
    - http://proxy.provider.com:4017
  STORE_PATH: ~/.datasets/images
  TIMEOUT: 5.0
  USER_AGENT: Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:55.0) Gecko/20100101 Firefox/55.0
